extends base.pug
include mixins/video

block content
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message 대신 인기 급 상승 "동영"상을 보여 드리겠습니다.        